extends user

block response

  ul
    if systemId
      each action in actions
        li
          - var query = action.query ? '?' + action.query : ''
          a(href='/users/#{index}/#{action.path}/#{systemId}#{query}').link= action.name

  hr
  h3= api

  table
    each value, index in data
      tr
        td: strong= index
        if index == 'production_wh'
          td= value
            strong  (#{Math.round(value/100)*0.1} kWh)
        else
          td: pre= JSON.stringify(value, null, 3)