extends user

block response

  hr
  h3 Systems

  table
    each system in data.systems
      - var tableActions = actions.slice()
      each value, key in system
        tr
          td: strong= key
          td= value
          td
            if tableActions.length
              - var action = tableActions.shift()
              - var query = action.query ? '?' + action.query : ''
              a(href='/users/#{index}/#{action.path}/#{system.system_id}#{query}').link= action.name

      tr: td(colspan=3): hr